<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>USUARIOS</title>
    <!-- Material Icon CDN -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS CDN -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    
    <!-- Used as an example only to position the footer at the end of the page.
    You can delete these styles or move it to your custom css file -->
    <style>
      body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        }
      main {
        flex: 1 0 auto;
      }
    </style>
  </head>
  <body>
    <header>
      <nav class="cyan">
        <div class="nav-wrapper">
          <div class="container">
            <a href="#" class="brand-logo">USUARIOS</a>
            <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a href="#">Login</a></li>
              <li><a href="#">Logout</a></li>
              <li><a href="#">Registrar</a></li>
            </ul>
            <ul class="side-nav" id="mobile-menu">
              <li><a href="#">Login</a></li>
              <li><a href="#">Logout</a></li>
              <li><a href="#">Registrar</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
      <main>
        <div class="container">
          <div class="row">
            <div class="col s12 m4 l6 offset 2">
              <p>REGISTRAR</p>
              <form  method="POST" action="http://127.0.0.1:8000/api/usuarios/registrar/">

                <div class="input-field col s12 l6">
                  <input type="text" id="username" name="username" class="validate" placeholder="Nombre de usuario" >
                  
                </div>

                <div class="input-field col s12 l6">
                    <input type="text" id="first_name" name="first_name" class="validate" placeholder="Nombre" >
                    
                </div>

                <div class="input-field col s12 l6">
                    <input type="text" id="last_name" name="last_name" class="validate" placeholder="Apellido" >
                    
                </div>

                <div class="input-field col s12">
                  <input type="email" id="email" name="email" class="validate"placeholder="Email"  >
                  
                </div>

                <div class="input-field col s12 l6">
                    <input type="password" id="password" name="password" class="validate" placeholder="Contraseña" >
                    
                </div>
                <div class="input-field col s12 l6">
                    <input class="btn green" type="submit" value="Registrar">
                    
                </div>
                
              </form>
            </div>
          </div>
        </div>
    </main>
    
    <!-- jQuery CDN -->
      <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!-- Materialize JS CDN -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>
      $('document').ready(function(){
        console.log("DOCUMENTO LISTO");

        $(".button-collapse").sideNav();

        $('form').on('submit', function(){
          event.preventDefault();
          console.log( $('#username').val() );
          console.log( $('#password').val() );

          var 
        })
      });
    </script>
  </body>
</html>